<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - {{ request.host }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='smash.js') }}"></script>
</head>
<body onload="onLoad()">
<nav>
  {% block nav %}
  {% endblock %}
</nav>

<header>
  {% block header %}{% endblock %}
</header>

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!--
<footer>
  Copyright &copy; 2019-2020 Drew Leske
</footer>
-->

</body>
</html>
