{% extends 'base.html' %}

{% block nav %}
  <ul class='refresh'>
    <li>{{ request.host.split(':', 1)[0] }}</li>
    <li>Refresh every
      <select name='refresh' id='refresh' onclick='selectRefresh()'>
        <option value='10'>10 seconds</option>
        <option value='30'>30 seconds</option>
        <option value='60'>1 minute</option>
        <option value='300'>5 minutes</option>
        <option value='900'>15 minutes</option>
        <option value='1800'>30 minutes</option>
        <option value='3600'>1 hour</option>
      </select></li>
    <li>Last refreshed <span id='last_refreshed'>Yah</span></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}Smashboard{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if nodes %}
  <div class='tests'>
    {% for name, node in nodes.items() %}
      <table>
        <caption>{{ name }}</caption>
        <tr>
          <th></th>
          <th>Age</th>
          <th>Status</th>
          <th>Message</th>
        </tr>
        {% for result in node.latest %}
        <tr class='{{ result.status_text }}{% if result.stale %}_stale{% endif %}'>
          <th>{{ result.test }}</th>
          <td><span title='{{ result.recorded }}'>{{ result.age }}</span></td>
          <td>{{ result.status_text }}{% if result.stale %}<br/><mark>STALE</mark>{% endif %}</td>
          <td>{{ result.message }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
{% else %}
  <h2>There aren't any nodes or test results yet.</h2>
  <p><a href="">See here</a> on how to get started.</p>
{% endif %}
{% endblock %}
