html {
  font-family: sans-serif;
}

body {
  padding: 1em 4em;
}

section.content {
  padding: 1em 0;
}

footer {
  padding: 1em 0 0;
}

.refresh {
  float: right;
  font-family: sans-serif;
  font-size: 10pt;
}

ul.refresh {
  list-style: none;
}

select#refresh {
  color: blue;
   -webkit-appearance: none; 
   -moz-appearance: none;
  appearance: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  background: inherit;
}

.tests {
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tests table {
  background: #999999;
  color: #333333;
  width: 45ch;
  margin: 10px;
  clear: both;
  white-space: pre-wrap;
}

.tests table caption {
  background: grey;
  color: white;
}

.tests th {
  font-weight: bolder;
  vertical-align: top;
}

.tests td {
  vertical-align: top;
}

.tests tr.Okay {
  background: #99FF99;
}

.tests tr.Okay_stale {
  background: #99FF99;
  text-transform: uppercase;
}

.tests tr.Warning {
  background: #FFFF99;
}

.tests tr.Warning_stale {
  background: #FFFF99;
  text-transform: uppercase;
}

.tests tr.Error {
  background: #FF9999;
}

.tests tr.Error_stale {
  background: #FF9999;
  text-transform: uppercase;
}

.tests tr.Unusable {
  background: black;
  color: red;
}

.tests tr.Unusable_stale {
  background: black;
  color: red;
  text-transform: uppercase;
}

